<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Book-Store</title>

  <style>
       /* ----------------------------------------------------- Navbar ---------------------------------------------------------- */
    /* Base styling */
    .header {
      background-image: url(headerimg.jpg);
      background-size: cover;
      overflow: hidden;
      font-size: large;
      font-family: 'Gill Sans', 'Gill SansMT', Calibri, ' Trebuchet MS', sans-serif;
    }

    /* Style the header links */

    /*  line-height: 25px;*/

    #navlinks {
      float: left;
      background-color: rgb(255, 255, 255);
      color: rgb(0, 0, 0);
      margin-top: 30px;
      margin-right: 20px;
      padding: 10px;
      text-decoration: none;
      border-radius: 10px;
    }

    /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */


    /* Change the background color on mouse-over */
    #navlinks:hover {
      background-color: rgb(76, 151, 76);
      color: white;
    }

    /* Style the active/current link*/
    .header a.active {
      background-color: rgb(0, 0, 0);
      color: white;
    }

    /* Float the link section to the right */
    .header-right {
      float: right;
    }

    /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
    @media screen and (max-width: 500px) {
      .header a {
        float: none;
        display: block;
        text-align: left;
      }

      .header-right {
        float: none;
      }
    }

    #cart {
      margin-right: 15px;
      margin-top: 20px;
    }

    #cart:hover {
      transform: scale(1.1);
    }

    * {
      margin: 0;
    }

    #logout_link {
      margin-right: 15px;
      margin-bottom: 10px;
    }

    #logout_link:hover {
      transform: scale(1.1);
    }

    /*-------------------content--------------*/

    body {
      background: url("https://s-media-cache-ak0.pinimg.com/736x/f4/ac/6a/f4ac6aac3afb587f6cae04155656fca3.jpg");
    }

       center {
      text-decoration: underline;
    }

#content_container {
  color: rgb(66, 64, 64);
  width: 60%; /* Adjusted width for responsiveness */
  margin: 5% auto; /* Center the container and adjust top margin */
  padding: 20px;
  border-radius: 10px;
  font-family: 'Dancing Script', cursive;
}

.profile_container {
  display: flex;
  justify-content: space-around; /* Adjust as needed */
  align-items: center; /* Center vertically */
}

.profile_img {
  margin:auto;
  border-radius: 20px;
  box-shadow: 6px 6px 7px #888888;
  max-width: 100%; /* Ensure the image does not exceed its container */
  height: auto; /* Maintain aspect ratio */
}
.profile_img:hover{
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .profile_container {
    flex-direction: column; /* Stack items vertically on smaller screens */
    align-items: center; /* Center items horizontally */
  }
.profile_img{
  margin-top: 40px;
}
  #content_container {
    width: 90%; /* Adjusted width for smaller screens */
  }
}



    span {
      color: pink;
    }

  </style>
</head>

<body>
  <header>
    <div class="header">
      <a href="#default" class="headerlogo"><img src="https://cdn-icons-png.flaticon.com/128/3532/3532358.png"
          alt="logo" height="90px" width="100px" /></a>
      <div class="header-right">
        <a class="active" href="/home" id="navlinks">Home</a>
        <a href="/contact" id="navlinks">Contact</a>
        <a href="/about" id="navlinks">About</a>

        <a href="/cart"><img id="cart" width="60" height="60"
            src="cart.png"
            alt="Cart"></a>
        <a href="/logout"><img width="48" height="48" id="logout_link"
            src="logout.png" alt="logout" /></a>
      </div>
  </header>


  <div class="profile_container">
    <img class="profile_img" src="profile.jpeg" alt="profile" width="300px" height="5%">
    <div id="content_container">
      <center>
        <h1>About me</h1>
      </center>
      <h2>
        Hi Folks, <br />
        This is Anmol Kansal. I'm a Freakin self-taught developer having learned
        everything I know through online tutorials, and practice projects. My
        passion for learning and improving has led me to attend coding bootcamps
        and conferences to further develop my skills..
        <br /><br>
        Can't belive that it worked.
        <br /><br>
        Show your L<span>&hearts;</span>VE if you like.
      </h2>
    </div>
  </div>


</body>

</html>