<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Book-Store</title>

  <style>
    /* ----------------------------------------------------- Navbar ---------------------------------------------------------- */
    .header {
      background-color: #f1f1f1;
      display: flex;
      justify-content: space-between;
      background-image: url(headerimg.jpg);
      background-size: cover;
      width: 100%;
    }

    .headerlogo {
      margin-top: 5px;
    }

    .headeritem {
      margin-top: 40px;
      margin-left: auto;
      font-size: large;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    }

    #links {
      background-color: rgb(255, 255, 255);
      color: rgb(0, 0, 0);
      justify-content: space-between;
      margin-top: 60px;
      margin-right: 20px;
      padding: 10px;
      text-decoration: none;
      border-radius: 10px;
    }

    #links:hover {
      background-color: rgb(76, 151, 76);
      color: white;
    }

    #cart {
      margin-right: 10px;
      margin-top: 15px;
    }

    * {
      margin: 0;
    }

    #logout_link {
      margin-top: 20px;
      margin-right: 10px;
    }

    /*-------------------content--------------*/

    body {
      background: url("https://s-media-cache-ak0.pinimg.com/736x/f4/ac/6a/f4ac6aac3afb587f6cae04155656fca3.jpg");
    }

    #content_container {
      /* background-color: #222b31; */
      color: rgb(66, 64, 64);
      height: 50%;
      width: 40%;
      float: right;
      margin-right: 15%;
      margin-top: 5%;
      padding: 20px;
      border-radius: 10%;
      font-family: 'Dancing Script', cursive;
     
    }

    center {
      text-decoration: underline;
    }

    .profile_img {
      border-radius: 20px;
      margin: 10%;
      box-shadow: 6px 6px 7px #888888;
    }

    span {
      color: pink;
    }

  </style>
</head>

<body>
  <header>
    <div class="header">
      <div class="headerlogo">
        <img src="https://cdn-icons-png.flaticon.com/128/3532/3532358.png" alt="logo" height="90px" width="100px" />
      </div>
      <div class="headeritem">
        <a href="/home" id="links">Home</a>
        <a href="/about" id="links">About</a>
        <a href="/contact" id="links">Contact us</a>
      </div>
      <a href="/cart" id="cart"><img
          src="https://img.icons8.com/external-flaticons-flat-flat-icons/64/external-cart-100-most-used-icons-flaticons-flat-flat-icons.png"
          alt="Cart"></a>
      <a href="/logout" id="logout_link"><img width="48" height="48"
          src="https://img.icons8.com/material-outlined/48/shutdown--v1.png" alt="shutdown--v1" /></a>
    </div>
  </header>


  <div>
    <img class="profile_img" src="profile.jpeg" alt="profile" width="300px" height="5%">
    <div id="content_container">
      <center>
        <h1>About me</h1>
      </center>
      <h2>
        Hi Folks, <br />
        This is Anmol Kansal. I'm a Freakin self-taught developer having learned
        everything I know through online tutorials, and practice projects. My
        passion for learning and improving has led me to attend coding bootcamps
        and conferences to further develop my skills..
        <br /><br>
        Can't belive that it worked.
        <br /><br>
        Show your L<span>&hearts;</span>VE if you like.
      </h2>
    </div>
  </div>


</body>

</html>